/*-- scss:defaults --*/
$presentation-font-size-root: 23px;

/*-- scss:rules --*/
.reveal {
  font-size: 0.64em;
}
.reveal h1 {
  font-size: 1.3em;
}
.reveal h2, .reveal h3 {
  font-size: 1em;
}
.reveal .callout {
  font-size: 0.78em;
  padding: 0.35em 0.6em;
  margin-top: 0.35em;
  margin-bottom: 0.35em;
}
.reveal pre code {
  font-size: 0.54em;
  line-height: 1.2;
}
.reveal table {
  font-size: 0.74em;
}
